In [2]:
from splinter import Browser
from bs4 import BeautifulSoup
from urllib.parse import urljoin
import pymongo
import requests
import pandas as pd
from sqlalchemy import create_engine
import time
import pdb
import pandas as pd
import matplotlib.pyplot as plt
#from config import username, password
%matplotlib inline

from sqlalchemy import create_engine

In [3]:
browser = Browser('chrome' , headless=True)
url = 'http://quotes.toscrape.com/'

## Get the details about the author from author page

In [4]:
#This functions take the url for the author page, scrape the information from the page and return a dictionary

def get_author(url):
    result = {}
    response = requests.get(url)
    soup =  BeautifulSoup(response.text, 'lxml')    
    result['born'] = soup.find('span' , class_ = 'author-born-date').text.strip()
    result['name'] = soup.h3.text.strip()
    result['description'] = soup.find('div' , class_="author-description").text.strip()
    return result

In [5]:
def get_tags_for_quote(quote_soup):
    tags = []
    for tag in quote_soup.find_all('a' , class_='tag'):
        tags.append(tag.text)
    return tags

### get all details about one quote

In [6]:
def get_quote(quote_soup):
    quote = {}
    quote['text'] = quote_soup.span.text
    quote['author'] = quote_soup.find('small' , class_='author').text
    href = quote_soup.a['href']
    author_url = urljoin( url ,  href)
    # for this quote get the author details now
    quote['author'] = get_author(author_url)    
    quote['tags'] = get_tags_for_quote(quote_soup)
    return quote

In [7]:
def get_quotes_on_a_page(page_number):
    result = []
    html = browser.html    
    soup = BeautifulSoup(html, 'lxml')
    quotes = soup.find_all('div', class_='quote')
    number_of_quotes_per_page = 10
    quote_id = (page_number -1)  * number_of_quotes_per_page 
    for quote in quotes:
        quote_id = quote_id + 1
        quote_info = get_quote(quote)
        quote_info['_id'] = quote_id 
        result.append(quote_info)
    return result

In [8]:
def scrape_all_quotes(url):
    more_quotes = True
    first_iterations = True
    page_number = 0
    quotes = []
    while more_quotes:  
        page_number += 1        
        print(f'Now scrapping page : {page_number }')
        if first_iterations:
            browser.visit(url)
            first_iterations = False
        else:
            pass        
        quotes_on_this_page = get_quotes_on_a_page(page_number)
        quotes = quotes + quotes_on_this_page
        try:
            next = browser.links.find_by_partial_text('Next')
            print('about to click on the next link')
            if(next.is_empty()):
                more_quotes = False
            else:
                next.click()
                time.sleep(2)
        except Exception as ex:
            print("Scraping Complete")
            print(ex.message)
            more_quotes = False
    return quotes

In [9]:
def save_quotes(quotes):
    conn = 'mongodb://localhost:27017'
    client = pymongo.MongoClient(conn)
    db = client.quotes
    collection = db.quotes
    collection.insert_many(quotes)

In [10]:
quotes = scrape_all_quotes(url)

Now scrapping page : 1
about to click on the next link
Now scrapping page : 2
about to click on the next link
Now scrapping page : 3
about to click on the next link
Now scrapping page : 4
about to click on the next link
Now scrapping page : 5
about to click on the next link
Now scrapping page : 6
about to click on the next link
Now scrapping page : 7
about to click on the next link
Now scrapping page : 8
about to click on the next link
Now scrapping page : 9
about to click on the next link
Now scrapping page : 10
about to click on the next link

In [11]:
quotes[0].keys()

dict_keys(['text', 'author', 'tags', '_id'])

In [51]:
browser.quit()

In [53]:
save_quotes(quotes)

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 0, 'code': 11000, 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 1}, 'errmsg': 'E11000 duplicate key error collection: quotes.quotes index: _id_ dup key: { _id: 1 }', 'op': {'text': '“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”', 'author': {'born': 'March 14, 1879', 'name': 'Albert Einstein', 'description': 'In 1879, Albert Einstein was born in Ulm, Germany. He completed his Ph.D. at the University of Zurich by 1909. His 1905 paper explaining the photoelectric effect, the basis of electronics, earned him the Nobel Prize in 1921. His first paper on Special Relativity Theory, also published in 1905, changed the world. After the rise of the Nazi party, Einstein made Princeton his permanent home, becoming a U.S. citizen in 1940. Einstein, a pacifist during World War I, stayed a firm proponent of social justice and responsibility. He chaired the Emergency Committee of Atomic Scientists, which organized to alert the public to the dangers of atomic warfare.At a symposium, he advised: "In their struggle for the ethical good, teachers of religion must have the stature to give up the doctrine of a personal God, that is, give up that source of fear and hope which in the past placed such vast power in the hands of priests. In their labors they will have to avail themselves of those forces which are capable of cultivating the Good, the True, and the Beautiful in humanity itself. This is, to be sure a more difficult but an incomparably more worthy task . . . " ("Science, Philosophy and Religion, A Symposium," published by the Conference on Science, Philosophy and Religion in their Relation to the Democratic Way of Life, Inc., New York, 1941). In a letter to philosopher Eric Gutkind, dated Jan. 3, 1954, Einstein stated: "The word god is for me nothing more than the expression and product of human weaknesses, the Bible a collection of honorable, but still primitive legends which are nevertheless pretty childish. No interpretation no matter how subtle can (for me) change this," (The Guardian, "Childish superstition: Einstein\'s letter makes view of religion relatively clear," by James Randerson, May 13, 2008). D. 1955.While best known for his mass–energy equivalence formula E = mc2 (which has been dubbed "the world\'s most famous equation"), he received the 1921 Nobel Prize in Physics "for his services to theoretical physics, and especially for his discovery of the law of the photoelectric effect". The latter was pivotal in establishing quantum theory.Einstein thought that Newtonion mechanics was no longer enough to reconcile the laws of classical mechanics with the laws of the electromagnetic field. This led to the development of his special theory of relativity. He realized, however, that the principle of relativity could also be extended to gravitational fields, and with his subsequent theory of gravitation in 1916, he published a paper on the general theory of relativity. He continued to deal with problems of statistical mechanics and quantum theory, which led to his explanations of particle theory and the motion of molecules. He also investigated the thermal properties of light which laid the foundation of the photon theory of light.He was visiting the United States when Adolf Hitler came to power in 1933 and did not go back to Germany. On the eve of World War II, he endorsed a letter to President Franklin D. Roosevelt alerting him to the potential development of "extremely powerful bombs of a new type" and recommending that the U.S. begin similar research. This eventually led to what would become the Manhattan Project. Einstein supported defending the Allied forces, but largely denounced the idea of using the newly discovered nuclear fission as a weapon. Later, with Bertrand Russell, Einstein signed the Russell–Einstein Manifesto, which highlighted the danger of nuclear weapons. Einstein was affiliated with the Institute for Advanced Study in Princeton, New Jersey, until his death in 1955.His great intellectual achievements and originality have made the word "Einstein" synonymous with genius.More: http://en.wikipedia.org/wiki/Albert_E...http://www.nobelprize.org/nobel_prize...'}, 'tags': ['change', 'deep-thoughts', 'thinking', 'world'], '_id': 1}}], 'writeConcernErrors': [], 'nInserted': 0, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

## Extract from MongoDB and insert into postgres

In [14]:
def get_quotes_from_mongo():
    conn = 'mongodb://localhost:27017'
    client = pymongo.MongoClient(conn)
    db = client.quotes
    collection = db.quotes#Tables
    return collection

In [15]:
def normalize_quotes_data(docs):
    quotes_table = []
    authors = []
    authors_table = []
    tags_table = []
    for doc in docs.find({}):
#         print(f"normalizing the quote : [{doc['_id']}]")
        #pdb.set_trace()
        quote = {}
        quote['id'] = doc['_id']
        quote['text'] = doc['text']
        quote['author_name'] = doc['author']['name']
        quotes_table.append(quote)

        author = {}
        author['name'] = doc['author']['name']
        author['born'] =  doc['author']['born']
        author['description'] = doc['author']['description']
        if (author['name'] not in authors):
            authors_table.append(author)
            authors.append(author['name'])

        for tag in doc['tags']:
            tags_table.append({'quote_id':doc['_id'] , 'tag' : tag})    
            
    return (quotes_table , authors_table ,tags_table)

In [16]:
#docs.find({author['name']:"Albert Einstein"})

In [17]:
docs = get_quotes_from_mongo()# Returns pymongo.collection.Collection
print(f' found {docs.count_documents({})} documents')

 found 100 documents

In [18]:
docs.find({ "author.name" : "Albert Einstein" })

In [19]:
type(docs.find({}))

pymongo.cursor.Cursor

In [20]:
(quotes , authors ,tags) = normalize_quotes_data(docs)

In [24]:
quotes_df = pd.DataFrame(quotes )
quotes_df.head()

   id                                               text      author_name
0   1  “The world as we have created it is a process ...  Albert Einstein
1   2  “It is our choices, Harry, that show what we t...     J.K. Rowling
2   3  “There are only two ways to live your life. On...  Albert Einstein
3   4  “The person, be it gentleman or lady, who has ...      Jane Austen
4   5  “Imperfection is beauty, madness is genius and...   Marilyn Monroe

In [25]:
author_df = pd.DataFrame( authors )
author_df.head()

,name,born,description
0,Albert Einstein,"March 14, 1879","In 1879, Albert Einstein was born in Ulm, Germ..."
1,J.K. Rowling,"July 31, 1965",See also: Robert GalbraithAlthough she writes ...
2,Jane Austen,"December 16, 1775",Jane Austen was an English novelist whose work...
3,Marilyn Monroe,"June 01, 1926",Marilyn Monroe (born Norma Jeane Mortenson; Ju...
4,André Gide,"November 22, 1869",André Paul Guillaume Gide was a French author ...

In [27]:
tags_df = pd.DataFrame(tags)
tags_df.head(10)

   quote_id            tag
0         1         change
1         1  deep-thoughts
2         1       thinking
3         1          world
4         2      abilities
5         2        choices
6         3  inspirational
7         3           life
8         3           live
9         3        miracle

In [116]:
user_name = 'postgres'
password = 'postgres'
connection_string = f"{user_name}:{password}@localhost:5432/customer_db"
#engine = create_engine(f'postgresql://{connection_string}')
engine =create_engine('postgres://fvrxkvnewvtszf:abb0db95fb45783bc324dd7fc23d3cd412dcb26b173906376407a5d54fd773d4@ec2-52-22-238-188.compute-1.amazonaws.com:5432/d3krndmoauivhr')

In [117]:
quotes_script = '''
    create table quotes(     id INTEGER PRIMARY KEY,    
    author_name varchar(32),    
    text varchar(1500))
'''

tags_script = '''
    create table tags(    quote_id INTEGER,    
    tag varchar(32))
'''

author_script = '''
    create table author( name varchar(32) PRIMARY KEY,    
    born varchar(32),    
    description varchar(10000))
'''

In [118]:
tables = {'quotes' : quotes_script.strip(), 
          'tags' : tags_script.strip(),
          'author' : author_script.strip()
         }

In [119]:
for table in tables.keys():
    print(f'dropping the table {table} if it already exists...')
    engine.execute(f'drop table IF EXISTS {table}')

dropping the table quotes if it already exists...
dropping the table tags if it already exists...
dropping the table author if it already exists...

In [120]:
for table , script in tables.items():
    print(f'creating the table {table}...')
    engine.execute(f'{script}')

creating the table quotes...
creating the table tags...
creating the table author...

In [121]:
engine.table_names()

['quotes', 'tags', 'author']

In [1]:
tags_df

NameError: name 'tags_df' is not defined

In [122]:
quotes_df.to_sql(name='quotes', con=engine, if_exists='append', index=False)

In [123]:
tags_df.to_sql(name='tags', con=engine, if_exists='append', index=False)

In [ ]:
author_df.to_sql(name='author', con=engine, if_exists='append', index=False)

In [100]:
engine = create_engine(f'postgresql://postgres:postgres@localhost:5432/customer_db')
connection = engine.connect()

pd.read_sql('select * from author',connection, columns=['born'])

,name,born,description
0,Albert Einstein,"March 14, 1879","In 1879, Albert Einstein was born in Ulm, Germ..."
1,J.K. Rowling,"July 31, 1965",See also: Robert GalbraithAlthough she writes ...
2,Jane Austen,"December 16, 1775",Jane Austen was an English novelist whose work...
3,Marilyn Monroe,"June 01, 1926",Marilyn Monroe (born Norma Jeane Mortenson; Ju...
4,André Gide,"November 22, 1869",André Paul Guillaume Gide was a French author ...
5,Thomas A. Edison,"February 11, 1847","Thomas Alva Edison was an American inventor, s..."
6,Eleanor Roosevelt,"October 11, 1884",Anna Eleanor Roosevelt was an American politic...
7,Steve Martin,"August 14, 1945","Stephen Glenn ""Steve"" Martin is an American ac..."
8,Bob Marley,"February 06, 1945","Robert ""Bob"" Nesta Marley OM was a Jamaican si..."
9,Dr. Seuss,"March 02, 1904",Theodor Seuss Geisel was born 2 March 1904 in ...
10,Douglas Adams,"March 11, 1952","Douglas Noël Adams was an English author, comi..."
11,Elie Wiesel,"September 30, 1928",Eliezer Wiesel was a Romania-born American nov...
12,Friedrich Nietzsche,"October 15, 1844",Friedrich Wilhelm Nietzsche (1844–1900) is a G...
13,Mark Twain,"November 30, 1835","Samuel Langhorne Clemens, better known by his ..."
14,Allen Saunders,"April 24, 1899","Allen Saunders was an American writer, journal..."
15,Pablo Neruda,"July 12, 1904","Pablo Neruda was the pen name and, later, lega..."
16,Ralph Waldo Emerson,"May 25, 1803","in 1803, Ralph Waldo Emerson was born in Bosto..."
17,Mother Teresa,"August 26, 1910","Blessed Teresa of Calcutta, or Mother Teresa, ..."
18,Garrison Keillor,"August 07, 1942",Garrison Keillor (born Gary Edward Keillor on ...
19,Jim Henson,"September 24, 1936","James Maury ""Jim"" Henson was the most widely k..."
20,Charles M. Schulz,"November 26, 1922",Charles Monroe Schulz was an American cartooni...
21,William Nicholson,"January 12, 1948",Librarian Note: There is more than one author ...
22,Jorge Luis Borges,"August 24, 1899",Jorge Francisco Isidoro Luis Borges Acevedo (S...
23,George Eliot,"November 22, 1819","In 1819, novelist George Eliot (nee Mary Ann E..."
24,George R.R. Martin,"September 20, 1948","George R. R. Martin was born September 20, 194..."
25,C.S. Lewis,"November 29, 1898",CLIVE STAPLES LEWIS (1898–1963) was one of the...
26,Martin Luther King Jr.,"January 15, 1929","Martin Luther King, Jr. was one of the pivotal..."
27,James Baldwin,"August 02, 1924",Librarian Note: There is more than one author ...
28,Haruki Murakami,"January 12, 1949",Haruki Murakami (Japanese: 村上 春樹) is a popular...
29,Alexandre Dumas-fils,"July 27, 1824","Alexandre Dumas (son) was born in Paris, Franc..."
30,Stephenie Meyer,"December 24, 1973","I was born in Connecticut in 1973, during a br..."
31,Ernest Hemingway,"July 21, 1899",Ernest Miller Hemingway was an American author...
32,Helen Keller,"June 27, 1880",Helen Keller would not be bound by conditions....
33,George Bernard Shaw,"July 26, 1856","George Bernard Shaw was an Irish playwright, s..."
34,Charles Bukowski,"August 16, 1920",Henry Charles Bukowski (born as Heinrich Karl ...
35,Suzanne Collins,"August 11, 1962",Librarian Note: There is more than one author ...
36,J.R.R. Tolkien,"January 03, 1892","John Ronald Reuel Tolkien, CBE, was an English..."
37,Alfred Tennyson,"August 06, 1809","Alfred Tennyson was born in Somersby, Lincolns..."
38,Terry Pratchett,"April 28, 1948",Sir Terry Pratchett sold his first story when ...
39,J.D. Salinger,"January 01, 1919","Jerome David Salinger was an American author, ..."
40,George Carlin,"May 12, 1937",George Denis Patrick Carlin was a Grammy-winni...
41,John Lennon,"October 09, 1940","John Winston Ono Lennon, MBE, was an English s..."
42,W.C. Fields,"January 29, 1880",W. C. Fields was born William Claude Dukenfiel...
43,Ayn Rand,"February 02, 1905",Alisa Rosenbaum was born in pre-revolutionary ...
44,Jimi Hendrix,"November 27, 1942","Jimi Hendrix was an American guitarist, singer..."
45,J.M. Barrie,"May 09, 1860","Sir James Matthew Barrie, 1st Baronet, OM (9 M..."
46,E.E. Cummings,"October 14, 1894","Edward Estlin Cummings was born in Cambridge, ..."
47,Khaled Hosseini,"March 04, 1965","Hosseini was born in Kabul, Afghanistan, in 19..."
48,Harper Lee,"April 28, 1926","Harper Lee, known as Nelle, was born in the Al..."
49,Madeleine L'Engle,"November 29, 1918",Madeleine L'Engle was an American writer best ...